@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Nosifer&family=Playwrite+CL:wght@100..400&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
#film1 #poster {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  border-radius: 15px;
  background-color: rgb(222, 215, 228);
}
#films{
padding-left: 30px;
padding-right: 30px;
text-align: left;
font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  border-radius: 15px;
  background-color: rgb(222, 215, 228);
}

#films #poster{
  border-radius: 20px;
  display: grid;
  height: 20cm;
  width: 20cm;
  
}